<div id="saveDiv">
    <input type="hidden" id="inputId">
    <label>Name</label> <input type="text" id="inputName" disabled="true">
    <label>Surname</label><input type="text" id="inputSurname" disabled="true">
    <label>Email</label><input type="email" id="inputEmail" disabled="true"><span id="emailErrorMsg"></span>
    <button onclick="Save()" id="saveBtn" disabled="true"> Save</button>
</div>

<div>
    <ul class="flex">
        <li> Name</li>
        <li> Surname</li>
        <li> Email</li>
        <li> Delete</li>
        <li> Edit</li>
    </ul>
    {{#each result}}
        <div id="{{this.id}}">
            <ul class="flex">
                <li id="nameLi">{{this.name}} </li>
                <li id="surnameLi">{{this.surname}} </li>
                <li id="emailLi"> {{this.email}} </li>
                <li>
                    <button onclick="Delete('{{this.id}}')"> DEL</button>
                </li>
                <li>
                    <button id="editBtn"
                            onclick="Edit('{{this.id}}', '{{this.name}}', '{{this.surname}}','{{this.email}}')">
                        Edit
                    </button>
                </li>
            </ul>
        </div>
    {{/each}}
</div>

<script type="text/javascript" src="./js/main.js"></script>
